/*
 https://github.com/mono/website/blob/gh-pages/css/main.css
 https://www.w3schools.com/css/css_list.asp
 Got code help from this css link while testing.
*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Open Sans Condensed',sans-serif;
  }
  
  h1 {
    
    color: gray;
  }
  
  h2 {
   
    color: gray;
  }
  
  h3 {

    color: gray;
  }
  
  h4 {

    color: gray;
  }
  
  h5 {

    color: gray;
  }
  
  h6 {

    color: gray;
  }

p{

    color: gray;

}

ol{

    color: gray;

}
